<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>En-Dc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Encoding-Decoding</h1>
    </div>
    <form action="{{ url_for("index")}}" method="POST">
        <div class="form-group col-md-6">
            <label for="msg">Message:</label>
            <input type="text" class="form-control" id="msg" placeholder="Write your message" name="msg"><br>
            <label for="key">Key:</label>
            <input type="text" class="form-control" id="key" placeholder="Type key" name="key"><br>
            <label for="ed">Encoding-Decoding Type:</label>
            <input type="text" class="form-control" id="ed" placeholder="Coding type (e or d)" name="encdec"><br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
</div>
</body>
</html>